.page-header h1 {
    text-align: center;
}

.desktop-icon-fix {
    padding-left: 23px;
}

.cloud-icon-fix {
    padding-left: 18px;
}

.row {
    margin-top: 30px;
    margin-bottom: 20px;
}

.thumbnail {
    text-align: center;
    padding-top: 20px;
}

.fa-8x {
    font-size: 6em;
}

.products-text-fix {
    font-size: 16px;
}

.team-panel-border-fix {
    border-bottom: none;
}

@media screen and (min-width: 768px) {
    .page-header .container {
        /*margin-top: 40px;*/
    }

    .row {
        width: 100%;
    }

    .technology-panel {
        width: 50%;
    }
}