<link rel="stylesheet" type="text/css" href="styles/products.css">

<div class="products-container">
    <div class="product thumbnail col-sm-12 col-md-12" ng-class="{ 'media': $root.currentPage === 'products' }" id="product-shopsoft">
        <div class="caption" ng-class="{ 'media-body': $root.currentPage === 'products' }">
            <h2>ShopSoft</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p>
                <a class="btn btn-primary" href="//github.com/saket-joshi/ShopSoft" target="_blank">Github link</a>
            </p>
        </div>
        <div class="media-right media-middle" ng-if="$root.currentPage === 'products'">
            <i class="fa fa-search fa-5x"></i>
        </div>
    </div>

    <div class="product thumbnail col-sm-12 col-md-12" ng-class="{ 'media': $root.currentPage === 'products' }" id="product-crackit">
        <div class="caption" ng-class="{ 'media-body': $root.currentPage === 'products' }">
            <h2>EasyHCI</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p>
                <a class="btn btn-primary" href="//github.com/saket-joshi/easyhci" target="_blank">Github link</a>
            </p>
        </div>
        <div class="media-right media-middle" ng-if="$root.currentPage === 'products'">
            <i class="fa fa-search fa-5x"></i>
        </div>
    </div>

    <div class="product thumbnail col-sm-12 col-md-12" ng-class="{ 'media': $root.currentPage === 'products' }" id="product-planmyevent">
        <div class="caption" ng-class="{ 'media-body': $root.currentPage === 'products' }">
            <h2>DeviceTest</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p>
                <a class="btn btn-primary" href="//github.com/saket-joshi/DeviceTest/blob/master/bin/DeviceTest.apk?raw=true">Download application</a>
            </p>
        </div>
        <div class="media-right media-middle" ng-if="$root.currentPage === 'products'">
            <i class="fa fa-search fa-5x"></i>
        </div>
    </div>
</div>