<link rel="stylesheet" type="text/css" href="styles/services.css">

<div class="services-container">
    <div class="service-panel">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="heading-icon">
                    <i class="fa fa-cubes"></i>
                </div>
                <div class="heading-description">
                    <h3>Our Products</h3>
                </div>
            </div>
            <div class="panel-body">
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div ng-include="'views/products.html'" />
            </div>
        </div>
    </div>

    <div class="service-panel">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="heading-icon">
                    <i class="fa fa-user-md"></i>
                </div>
                <div class="heading-description">
                    <h3>Project consultancy services</h3>
                </div>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>

    <div class="service-panel">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="heading-icon">
                    <i class="fa fa-database"></i>
                </div>
                <div class="heading-description">
                    <h3>Data migration</h3>
                </div>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>

    <div class="service-panel">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="heading-icon">
                    <i class="fa fa-laptop"></i>
                </div>
                <div class="heading-description">
                    <h3>Custom application development</h3>
                </div>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>

    <div class="service-panel">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="heading-icon">
                    <i class="fa fa-paper-plane"></i>
                </div>
                <div class="heading-description">
                    <h3>Outsourcing</h3>
                </div>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div>