<link rel="stylesheet" type="text/css" href="styles/technologies.css">

<div class="technologies-container">
    <div class="technology-panel">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="heading-icon">
                    <i class="fa fa-android"></i>
                </div>
                <div class="heading-description">
                    <h3>Android</h3>
                </div>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="pull-right">
                    <a href="#/android" class="btn btn-primary">Read more</a>
                </p>
            </div>
        </div>
    </div>

    <div class="technology-panel">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="heading-icon">
                    <i class="fa fa-cloud"></i>
                </div>
                <div class="heading-description">
                    <h3>Cloud computing (Salesforce)</h3>
                </div>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="pull-right">
                    <a href="#/salesforce" class="btn btn-primary">Read more</a>
                </p>
            </div>
        </div>
    </div>

    <div class="technology-panel">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="heading-icon">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="heading-description">
                    <h3>Websites and web-applications development</h3>
                </div>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="pull-right">
                    <a href="#/webdesign" class="btn btn-primary">Read more</a>
                </p>
            </div>
        </div>
    </div>

    <div class="technology-panel">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="heading-icon">
                    <i class="fa fa-windows"></i>
                </div>
                <div class="heading-description">
                    <h3>Microsoft .NET</h3>
                </div>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="pull-right">
                    <a href="#/dotnet" class="btn btn-primary">Read more</a>
                </p>
            </div>
        </div>
    </div>
</div>